<%= form_with(model: bug_form) do |form| %>
  <% if bug_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug_form.errors.count, "error") %> prohibited this bug_form from being saved:</h2>

      <ul>
        <% bug_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="actions">
    <%= form_for @bug_form do |f| %>
  <table>
        <tr>
          <td>
            <div class="input-field">
              <select id="bug_form_priority" name="bug_form[priority]">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Low</option>
                <option value="22">Medium</option>
                <option value="333">High</option>
                <option value="4444">Urgent</option>
              </select>
              <label>Priority</label>
            </div>
          </td>
          
          <%# Urgent => can be only chosen by admin? %>
          <%# Make documentation indicating what is 'Low', 'Medium', etc. %>
        </tr>
        <tr>
          <td><%= f.label :bug_behavior %></td>
          <td><%= f.text_field :bug_behavior %></td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="bug_form_reproducibility">Reproducibility</label>
            <div class="input">
              <textarea id="bug_form_reproducibility" name="bug_form[reproducibility]" class="materialize-textarea"></textarea>
            </div>
          </td>

        </tr>
        <tr>
          <td colspan="2"><%= f.submit "Submit"%></td>
        </tr>
    </table>
  <% end %>
  </div>
<% end %>
