<p id="notice"><%= notice %></p>

<h1>Bug Forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bug_forms.each do |bug_form| %>
      <tr>
        <td><%= link_to 'Show', bug_form %></td>
        <td><%= link_to 'Edit', edit_bug_form_path(bug_form) %></td>
        <td><%= link_to 'Destroy', bug_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug Form', new_bug_form_path %>
